<footer class="site-footer">

  <div class="wrapper">
<div class="footer-col fontsize_1">
    <!--<h2 class="footer-heading">{{ site.title | escape }}</h2>-->
<!--
    <div class="footer-col-wrapper fontsize_1">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li>
            {% if site.author %}
              {{ site.author | escape }}
            {% else %}
              {{ site.title | escape }}
            {% endif %}
            </li>
            {% if site.email %}
            <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
            {% endif %}
        </ul>

        <ul class="social-media-list">
          {% if site.github_username %}
          <li>
            {% include icon-github.html username=site.github_username %}
          </li>
          {% endif %}

          {% if site.twitter_username %}
          <li>
            {% include icon-twitter.html username=site.twitter_username %}
          </li>
          {% endif %}
        </ul>

        <p>{{ site.description | escape }}</p>
      </div>
    </div>


    <div class="footer_icon"><img src="{{ site.baseurl }}/img/twitter.png"/></div>
    <div class="footer_icon"><img src="{{ site.baseurl }}/img/github.png"/></div>
    <div class="footer_icon"><img src="{{ site.baseurl }}/img/email.png"/></div>
-->
    <div class="footer_icon"><a href="https://twitter.com/metalabharvard" target="_blank">twitter</a></div>
    <div class="footer_icon"><a href="https://github.com/metalabharvard" target="_blank">github</a></div>
    <div class="footer_icon"><a href="mailto:info@metalab.harvard.edu" target="_blank">email</a></div>
</div>
  </div>

</footer>
