<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>{% if page.type == "index" %}{{ page.title }}{% else %}{{ page.name }}{% endif %}</title>
  <meta name="description" content="{{ site.description }}">
  <meta name="viewport" content="width=device-width">
	<link rel="shortcut icon" type="image/png" href="/favicon.png">  
  <link rel="stylesheet" href="{{ site.baseurl }}/css/main.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/css/font-awesome.min.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/css/style.css">
 	<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.css"/>
<link href="https://fonts.googleapis.com/css?family=Bad+Script|Roboto+Mono:100,300,400,400i,500,700" rel="stylesheet">


</head>
